@using IdentityServer.UI.Api.Models
@model PostContactForm
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hoş Geldiniz!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            background-color: #ffffff;
            margin: 20px auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #4CAF50;
            text-align: center;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            color: #333;
        }

        .button {
            display: block;
            width: 200px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            padding: 10px;
            text-decoration: none;
            border-radius: 5px;
            margin: 20px auto;
        }

        .footer {
            text-align: center;
            font-size: 14px;
            color: #777;
            margin-top: 20px;
        }

        .social-icons {
            text-align: center;
            margin-top: 20px;
        }

            .social-icons a {
                margin: 0 10px;
                text-decoration: none;
            }

            .social-icons img {
                width: 30px;
            }

        li {
            list-style-type: none;
            line-height: 160%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>🔑 Şifre Sıfırlama Talebi 🔑</h1>
        <p>Merhaba ,</p>
        <p>Hesabınız için bir <strong>şifre sıfırlama</strong> talebinde bulunuldu. Aşağıdaki kod ile şifrenizi sıfırlayabilirsiniz.</p>

        <h2>📌 Şifrenizi Nasıl Sıfırlayabilirsiniz?</h2>
        <ul>
            <li>✅ Uygulam ekranına geçin.</li>
            <li>✅ Açılan sayfada <b>@Model.Message</b> kodunu girin ve **yeni şifrenizi belirleyin**.</li>
            <li>✅ İşlemi tamamladıktan sonra **yeni şifrenizle giriş yapabilirsiniz**.</li>
        </ul>

        <p>Bu isteği siz yapmadıysanız, hesabınız güvende kalmaya devam edecektir ve herhangi bir işlem yapmanıza gerek yoktur.</p>

        <p>✨ **Sorularınız varsa bizimle iletişime geçebilirsiniz.**</p>

        <div class="social-icons">
            <a href="https://www.instagram.com/nuraymind/">
                <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram">
            </a>
        </div>

        <p class="footer">Sevgiyle, <br> <strong>Nuray Mind Ekibi</strong></p>
    </div>

</body>
</html>


