
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hoş Geldiniz!</title>
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            background-color: #ffffff;
            margin: 20px auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #4CAF50;
            text-align: center;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            color: #333;
        }

        .button {
            display: block;
            width: 200px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            padding: 10px;
            text-decoration: none;
            border-radius: 5px;
            margin: 20px auto;
        }

        .footer {
            text-align: center;
            font-size: 14px;
            color: #777;
            margin-top: 20px;
        }

        .social-icons {
            text-align: center;
            margin-top: 20px;
        }

            .social-icons a {
                margin: 0 10px;
                text-decoration: none;
            }

            .social-icons img {
                width: 30px;
            }

        li {
            list-style-type: none;
            line-height: 160%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>🌟 Welcome! 🌟</h1>
        <p>Dear <strong>@Model.FullName</strong>,</p>
        <p>Welcome to the Nuray Mind family! 🌿✨ Get ready to discover yourself, calm your mind, and balance your energy.</p>
        <p>With our meditation and frequency-supported applications, you can reduce stress, strengthen your mind, and achieve spiritual balance.</p>
        <h2>📌 Where Should I Start?</h2>
        <ul>
            <li>
                ✅ First, <strong>find the meditation that best suits your needs or concerns</strong> by exploring our app.
                You can easily discover the most suitable meditation for you in the search and explore sections.
            </li>
            <li>
                ✅ <strong>Create your daily meditation practice</strong>. Strengthen your mental, emotional, and physical balance with your chosen meditation every day.
                Regular meditation provides long-term benefits.
            </li>
            <li>
                ✅ <strong>Shape your own journey</strong>. Track your experiences, observe the effects of your meditations, and try different meditations based on your needs.
            </li>
            <li>✅ <strong>Enhance your personal growth with additional practices</strong>. Make your meditation process more effective with affirmations, feeling uploads, color therapy, and intention-manifestation exercises.</li>
            <li>✅ <strong>Complete your personal journey</strong> by strengthening your inner peace and energy balance. With regular practices, you will feel better, increase your awareness, and create positive changes in your life.</li>
        </ul>
        <a href="https://www.nuraymindapp.com/Layout/Download" class="button">Go to the App</a>
        <p>✨ <strong>We are here for you!</strong> Feel free to reach out to us anytime.</p>
        <div class="social-icons">
            <a href="https://www.instagram.com/nuraymind/"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram"></a>
        </div>
        <p class="footer">With love, <br> <strong>The Nuray Mind Team</strong></p>
    </div>
</body>
</html>


