@using Alp.ServiceExtensions
@using Ester.FarmetTracker.UI.Web.Infrastructures.FertilizerService.Models.FertilizerHistories
@using Ester.FarmetTracker.UI.Web.Infrastructures.FertilizerService.Models.FertilizerHistories.Enums

@model CreateFertilizerHistoryRequest

<div class="card w-100">
    <!--begin:Card Header-->
    <div class="card-header">
        <!--begin:Card Title-->
        <div class="card-title">
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    Gübre İşlemleri
                </li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end:Card Title-->
    </div>
    <!--end:Card Header-->
    <!--begin::Card Body container-->
    <div class="card-body">
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <form asp-controller="FertilizerHistory" asp-action="Create" method="post">
                <input type="hidden" name="FertilizerId" value="@ViewData["FertilizerId"]" />

                <div class="form-floating mb-7 row justify-content-center">

                    <div class="col-lg-6 col-md-12">
                        <label for="Action">İşlem</label>
                        <select id="Action" name="Action" class="form-control">
                            @foreach (FertilizerHistoryAction status in (FertilizerHistoryAction[])Enum.GetValues(typeof(FertilizerHistoryAction)))
                            {
                                <option value="@status"> @status.GetDescription() </option>
                            }
                        </select>
                    </div>
                </div>
                <div id="action-content">
                </div>
                <div class="form-floating mb-7 row justify-content-center">

                    <div class="col-lg-6 col-md-12">
                        <label for="Description">Açıklama</label>
                        @Html.TextAreaFor(w => w.Description, new { @class = "form-control", @id = "Description", rows = "2" })
                    </div>

                </div>

                <div class=" pt-5 text-center">
                    <button class=" btn btn-primary" type="submit">
                        Kaydet
                    </button>

                </div>

            </form>
        </div>
    </div>
    <!--end::Card Body container-->

</div>
