@using Ester.FarmetTracker.UI.Web.Infrastructures.FertilizerService.Models.FertilizerHistories

@model CreateFertilizerHistoryRequest

@{
    Model.ActionRequest.Throw = new ThrowActionRequest(Guid.Empty, 0);
}

<div class="form-floating mb-7 row justify-content-center">

    <div class="col-lg-6 col-md-12">
        <label for="FieldId">Tarla</label>
        <select class="form-control form-control-sm search_box" data-show-prop="Name" data-dynamic-for="Fields" data-service="field" data-prop="Name" name="ActionRequest.Throw.FieldId">
        </select>
    </div>

</div>

<div class="form-floating mb-7 row justify-content-center">

    <div class="col-lg-6 col-md-12">
        <label for="Amount">Miktar</label>
        @Html.TextBoxFor(w => w.ActionRequest.Throw!.Amount, new { @class = "form-control", @id = "Amount", type = "number" })
    </div>

</div>