@using Ester.FarmetTracker.UI.Web.Infrastructures.FertilizerService.Models.FertilizerHistories

@model CreateFertilizerHistoryRequest

<div class="form-floating mb-7 row justify-content-center">
    <div class="col-lg-6 col-md-12">
        <label for="GiverId">Veren Kullanıcı</label>
        Buraya searchable select box gelecek
    </div>
</div>
<div class="form-floating mb-7 row justify-content-center">
    <div class="col-lg-6 col-md-12">
        <label for="RecipientId">Alan Kullanıcı</label>
        Buraya searchable select box gelecek
    </div>
</div>
